.element {
    position: fixed;
    display: flex;
    top: 11vh;   
    right: 3vw;     
    width: 200px;
    height: 150px;
    background: #ffa9a9;
    border-radius: 10px;
    z-index: 99;
    align-items: flex-start;
    justify-content: start;
}

.info-icon:hover {
    color: black;
}