.wrapper {
    display: grid;
    height: auto; /* Adjust the height to fit the content */
    width: auto;  /* Adjust the width to fit the content */
    place-items: center;
    z-index: 0;
}
.element {
    position: fixed;
    display: flex;
    top: 11vh;   
    right: 5vw;     
    width: 250px;
    height: 150px;
    background: #696969;
    border-radius: 10px;
    z-index: 99;
    align-items: flex-start;
    justify-content: start;
}

.info-icon:hover {
    color: black;
}